body{
    background-image: url(./images/b.jpg);
    text-align: justify;
    align-content: center;
    font-style: oblique;
    font-size: 100%;


}
.container {
    background-color: #F1F1F1;
    text-align: center;
    padding-inline-start: 50%;
}

a {
    font-size: 20px;
}
.note{
    align-content: center;
    background-color: blueviolet;
    font: size 20;

}