body{
    background-color: aqua;
    text-align: justify;
    align-content: center;
    font-style: oblique;
    font-size: 100%;


}
.container {
    text-align: center;
    align-content: space-between;
    
}