body{
    background-color: aqua;
   /* text-align: justify;*/
    align-content: center;
    font-style: oblique;
    font-size: 100%;


}
.container {
    text-align: center;
    align-content: space-between;
    
}
input[type=button]{
    box-sizing: content-box;
    font-style: oblique;
    display: block;
}
a{
    text-decoration-line: none;
    align-content: center;
}